/* Demo (index.html) page styling */
body {
 background: #333;
 color: #ddd;
 width: 600px;
 margin: 20px auto;
}
h2 { text-align: center; }
a:link { color: #9fcdff; text-decoration: none; }
a:hover { color: #fff; }
a:visited,a:active { color: #53a5ff; }

/* JATT (Just Another Tooltip) CSS */
.tooltip {
 cursor: pointer;
}
#tooltip {
 color: #dddddd;
 background: #222222;
 border: 1px solid #333333;
 padding: 5px;
 opacity: 0.9;
 filter: alpha(opacity=90);
 text-align: center;
 border-radius: 1em;
 -moz-border-radius: 1em;
 -webkit-border-radius: 1em;
 display: none;
}
